@if (product) {
  <div class="productDetail">
    <div class="productDetail-left">
      <img class="product-img" src="{{ product.imageUrl }}" alt="productImg">
    </div>
    <div class="productDetail-right">
      <div>
        <h2> {{ product.name }}</h2>
        <h5>${{ product.price }}</h5>
        <p> {{ product.description }}</p>
      </div>
      <div>
        <p>Size</p>
      </div>
      <div>
        <button class="btn btn-light" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">Add to Cart</button>

        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
          <div class="offcanvas-header">
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          <div class="offcanvas-body">
            <div class="offcanvas-added">
              <img src="assets/icons/check-circle.svg" alt="check icon">
              <h4 id="offcanvasRightLabel">Added to your cart</h4>
            </div>
            <div class="offcanvas-productInfo">
              <h2> {{ product.name }}</h2>
              <h5>${{ product.price }}</h5>
              <p> {{ product.description }}</p>
              <img class="product-img" src="{{ product.imageUrl }}" alt="productImg">
            </div>
            <div>
              <button class="btn btn-dark" type="button" data-bs-dismiss="offcanvas" aria-label="Close">View Cart & Checkout</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
} @else {
  <p>Produkten kunde ej hittas</p>
}