.shop-wrapper{
  background-color: #f5f5f5;
  min-height: 100vh; 
}

.shop-grid {
  display: grid;
  grid-template-areas: 
  "sidebar toolbar"
  "sidebar content";
  grid-template-columns: 250px 1fr;
  grid-template-rows: auto auto 1fr;
  gap: 2rem;
  padding: 1.5rem;
}


.shop-grid .sidebar {
  grid-area: sidebar;
}

.shop-grid .toolbar {
  grid-area: toolbar;
  display: flex;
  justify-content: flex-end;
}

.shop-grid .content {
  grid-area: content;
}