.navbar {
  display: flex;
  align-items: center;
  background: var(--color-bg);
  color: var(--color-text);
  padding: 0 50px;
}

.navbar-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 80px;
}

.nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navLi {
  margin-right: 20px;
}

.navLi a {
  text-decoration: none;
  color: var(--color-text);
  font-weight: 600;
  transition: color 0.3s ease;
  cursor: pointer;
}

.navbar-icons {
  display: flex;
  align-items: center;
  gap: 18px;              /* Avstånd mellan ikoner */
  list-style: none;
  margin: 0;
  padding: 0;
}

.icon-item {
  position: relative;
  cursor: pointer;
}

.nav-icon {
  width: 24px;
  height: 24px;
  transition: transform 0.2s ease, opacity 0.2s ease;
  object-fit: contain;
}

.profile-icon {
  width: 28px;
  height: 28px;
  object-fit: contain;
}

.nav-icon:hover {
  transform: scale(1.15);
  opacity: 0.8;
}


/* Dropdown styling fix */
.dropdown-menu {
  min-width: 160px;
}

/* För login/register länkar som text */
.small-link {
  font-size: 14px;
  color: #333;
  text-decoration: none;
}

.small-link:hover {
  text-decoration: underline;
}

.is-active::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  background: var(--color-text);
  bottom: -2px;
  left: 0;
}
