<header>
  <nav class="navbar">
    <div class="navbar-div">
      <div>
        <h1>Hemnet</h1>
      </div>
      <div>
        <ul class="nav-list">
          <li class="navLi"><a routerLink=""  routerLinkActive="is-active" [routerLinkActiveOptions]="{ exact: true }" >Home</a></li>
          <li class="navLi"><a routerLink="/about" routerLinkActive="is-active">About</a></li>
          <li class="navLi"><a routerLink="/contact" routerLinkActive="is-active">Contact</a></li>
        </ul>
      </div>
      <div>
        <button class="login-button">Login</button>
      </div>
    </div>
  </nav>
</header>
