.navbar {
  display: flex;
  align-items: center;
  background: var(--color-bg);
  color: var(--color-text);
  padding: 0 50px;
}

.navbar-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 80px;
}

.nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navLi {
  margin-right: 20px;
}

.navLi a {
  text-decoration: none;
  color: var(--color-text);
  font-weight: 600;
  transition: color 0.3s ease;
  cursor: pointer;
}

.search-bar {
  display: flex;
  align-items: center;
  border: 1px solid var(--color-border);
  border-radius: 20px;
  padding: 7px 20px;
  margin-right: 20px;
}

.search-bar img {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}

.search-bar input {
  border: none;
  outline: none;
  background: transparent;
  color: var(--color-text);
}

.navbar-right {
  display: flex;
  align-items: center;
  text-align: center;
  gap: 15px;
}

.heartIcon {
  width: 24px;
  height: 24px;
  margin-right: 20px;
  cursor: pointer;

}

.navbar-cart {
  position: relative;
  margin-right: 20px;
  cursor: pointer;
}

.navbar-cart-button {
  border: none;
  background: transparent;
  cursor: pointer;
}

.navbar-cart-button img {
  width: 24px;
  height: 24px;
}


.login-button {
  background: transparent;
  border: none;
  cursor: pointer;
}

.login-button img {
  width: 30px;
  height: 30px;
}


.is-active {
  color: var(--color-primary);
  font-weight: 700;
  position: relative;
}

.is-active::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background: var(--color-text);
  bottom: -5px;
  left: 0;
}
