<div class="products-wrapper">
  <h1>Produkterna</h1>

  @if (products$ | async; as products) {
    @if (products.length > 0) {

      <div class="product-list">
        @for (p of products; track p.id) {
          <article class="product-card">
            <div class="product-image-wrapper">

              <button class="favorite-button" (click)="toggleFavorite(p.id)">
                @if (isFavorite(p.id)) {
                  <img src="assets/icons/heart-fill.svg" alt="heart">
                } @else {
                  <img src="assets/icons/heart.svg" alt="heart">
                }
              </button>
              
              <img
                class="product-image"
                [src]="p.imageUrl"
                alt="p.title"
              />
            </div>

            <div class="product-content">
              <h3 class="product-title">
                {{ p.title }}
              </h3>
              <p class="product-desc">
                {{ p.description }}
              </p>

              <div class="product-footer">
                <strong class="product-price">
                  {{ p.price | currency:'SEK':'symbol-narrow' }}
                </strong>

                <button class="product-button" [routerLink]="['/shop', p.id]">
                  Visa produkt
                </button>
              </div>
            </div>
          </article>
        }
      </div>

    } @else {
      <p>Inga produkter hittades.</p>
    }
  } @else {
    <p>Laddar produkter…</p>
  }
</div>
