/* components/product-list/product-list.component.css */
.product-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.2rem;
  padding: 5rem;
}
.product-card {
  background: #fff;
  cursor: pointer;
  border-radius: 0.5rem;
  transition: tramsform 0.3s ease, box-shadow 0.3s ease;
}

.product-card:hover {
  transform: scale(1.03);
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}


.product-card img {
  width: 100%;
  height: 70%;
  margin-bottom: 0.75rem;
}

.product-card h3 {
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.product-card .price {
  font-weight: 400;
}
