.homeOne {
  text-align: center;
  margin-top: 65px;
}

.home-firstsection h1 {
  font-size: 48px;
  margin-bottom: 20px;
  font-weight: 500;
}

.home-firstsection button {
  background-color: var(--primary);
  padding: 15px 50px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

.homeOne-img {
  margin-top: 50px;
  width: 100%;
  height: 700px;
  width: auto;
  object-fit: cover;
}