.homeOne {
  padding: 0 150px;
  text-align: center;
  margin-top: 65px;
}

.home-firstsection h1 {
  font-size: 48px;
  margin-bottom: 20px;
  font-weight: 500;
}

.home-firstsection p {
  font-size: 18px;
  margin-bottom: 30px;
  color: var( --text-secondary);
  padding: 0 450px;
}

.home-firstsection button {
  background-color: var(--primary);
  padding: 15px 50px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

.homeOne-img {
  margin-top: 50px;
  width: 100%;
  background-color: lightgrey;
  height: 700px;
}

.fourImagesInRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 35px;
  padding: 0 200px;
}

.fourImagesInRow img {
  height: 30%;
}