<section class="clothes-news">
  <div class="news-grid">

    <article class="news-card">
      <div class="news-text">
        <h3>Nyheter</h3>
        <p>Upptäck de senaste produkterna</p>
        <a routerLink="/shop">Shoppa nu</a>
      </div>

      <img src="assets/images/news1.jpg" alt="Nyheter">
    </article>

    <article class="news-card">
      <div class="news-text">
        <h3>Hoodies</h3>
        <p>Bekväma och stilrena för alla tillfällen</p>
        <a routerLink="/shop">Shoppa nu</a>
      </div>

      <img src="assets/images/news2.jpg" alt="Nyheter">
    </article>

    <article class="news-card">
      <div class="news-text">
        <h3>Accessoarer</h3>
        <p>Detaljer som lyfter hela din look</p>
        <a routerLink="/shop">Shoppa nu</a>
      </div>

      <img src="assets/images/news3.jpg" alt="Nyheter">
    </article>

  </div>
</section>