.category-menu {
  padding: 50px 150px;
  background-color: #0D0D0D;
  color: #ffffff;
  width: 100%;
  height: 20vh;

}

.category-menu p { 
  font-weight: 300;
  padding-right: 900px;
}

.category-menu h2 {
  font-size: 36px;
  margin-bottom: 20px;
  font-weight: 500;
}