<div class="footer">
  <div class="footerOne">
    <h3>Sign up for our newsletter</h3>
    <p>Be the first to know about new arrivals, look books, sales & promos!</p>
    <div class="footer-input">
      <input type="text" placeholder="Email address">
      <button>Sign up</button>
    </div>
  </div>
  <div class="footerTwo">
      <h6>Shop</h6>
      <ul>
        <li>Women's</li>
        <li>Men's</li>
        <li>Kid's</li>
        <li>Shoes</li>
        <li>Equipment</li>
        <li>By Activity</li>
        <li>Gift Cards</li>
        <li>Sale</li>
      </ul>
  </div>
  <div class="footerThree">
    <h6>Help</h6>
    <ul>
      <li>Help Center</li>
      <li>Order Status</li>
      <li>Size Chart</li>
      <li>Returns & Warranty</li>
      <li>Contact Us</li>
    </ul>
  </div>
  <div class="footerFour">
    <h6>About</h6>
    <ul>
      <li>About Us</li>
      <li>Responsibility</li>
      <li>Technology & Innovation</li>
      <li>Explore our stories</li>
    </ul>
  </div>
</div>
