.footer {
  margin-top: 12%;
  padding: 70px 100px;
  display: flex;
  justify-content: space-around;
  height: 40vh;
  background-color: #8CA9FF;
  border-radius: 2%;
}

.footerOne h3 {
  font-size: 35px;
  font-weight: 500;
  margin-bottom: 15px;
}

.footer h6 {
  font-size: 16px;
  margin-bottom: 10px;
  font-weight: 600;
}

.footer ul {
  list-style: none;
  padding: 0;
}

.footer li {
  margin-bottom: 5px;
  color: var(--text-secondary);
  cursor: pointer;
}


.footer-input {
  display: flex;
  align-items: center;
  margin-top: 10px;
}



.footer-input {
  position: relative;
  display: inline-block;    
  width: 100%;
  max-width: 420px; 
}

.footer-input input {
  width: 100%;
  height: 40px;
  border: 1px solid var(color-primary);
  outline: none;
  transition: border-color .2s, box-shadow .2s;
}

.footer-input button {
  position: absolute;
  top: 4px;
  right: 4px;
  bottom: 4px;           
  padding: 0 16px;
  border: 0;
  background-color: transparent;
  font-weight: 600;
  cursor: pointer;
}